.jumbotron{
    padding-bottom: 10px;
    padding-top:10px;
}

.h1,h1{
    text-align:center;
}

.logo{
    width:300px;
    display:block;
    margin:auto;
}

.btn {
    background-color:white;
    border-color:red;
}

.card{
    margin-bottom:20px;
    border: 1px solid red;
}

.card-body{
    margin:auto;
}

.card-header{
    background-color:gold;
}

.result-text{
    margin:auto;
    text-align:center;
}

.gem{
    width: 200px;
    margin-left:20px;
    margin-right: 15px;
    border-radius: 5px;
}

#button-clear{
    margin:auto; 
    background-color:red;
}

.gem:hover{
    background-color:red;
}


.gem:active{
    background-color:gold;
}
