.header{
    background-image: url("../assets/images/logo.png");
}

.btn-primary {
    background-color: white;
}

#gem-1{
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#gem-2{
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#gem-3{
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
}

#gem-4{
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
}

